.property-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 18px;
  width: 250px;
  margin: 15px;
  top:5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.property-title {
  font-size: 20px;
  margin: 8px 0;
  text-align: center;
  background:rgb(76, 139, 139);
  
}

.property-price {
  font-size:17px;
  color: #b62039;
  font-weight: bold;
  margin: 2px 4px;
}

.property-bedrooms {
  font-size: 14px;
  color: #17b8b6;
  margin-top: 7px;
  margin-bottom: 1px;
}



.property-location {
  color: #17b8b6;
  font-size: 14px;
  text-align: center;
  margin-bottom: 12px;
  
}

.property-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.property-button {
  text-decoration: none;
  background-color: #3b8be0;
  color: #073567;
  padding: 6px 11px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  margin-right: 4px;
  text-align: center;
  font-weight:bold;
}

.property-button:hover {
  opacity: 1.0;
}

.favourite-button {
  flex: 1;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #0b8d5b;
  background-color: #61dc98;
  color: #0b6031;
  font-weight:bold;
}

.favourite-button.favourited {
  background-color: #ffc107;
  color: white;
  border-color: #ffc107;
}

.favourite-button:hover {
  opacity: 0.9;
}
